<html>
<head>
<title>Privacy Policy</title>
</head>
<body>
<h2>Privacy Policy</h2>
<h3>What sort of tracking do you use?</h3>
<p>The authentication is used to make sure you aren't a robot (or at least that you are a robot with a purpose) and then ignored.
</p>
<p>This site is running on Google App Engine, and your IP address may be stored in the Google Stackdriver traffic logs for about 30 days.</p>
<h3>So you aren't really doing systematic tracking or storing personal data.</h3>
<p>We aren't. But&mdash;full disclosure&mdash;this site is maintained by somebody who analyzed web traffic professionaly for about a decade. They may be analyzing the logs to evaluate the site's functionality or security.</p>
<h3>Are you sharing user data with any third parties?</h3>
<p>Since this page is running on the Google Cloud Platform, they have some measure of access to the data. They're probably not really paying attention to this tiny little game, though.</p>
<h3>Wait. If you're not storing user data, how do you make sure that my opponent can't mess with my play or look at my hand?</h3>
<p>We don't. This site is for playtesting One Last Job and playing with friends. If you're concerned about your opponent cheating, we suggest you get a better friend.</p>
<h3>This page is pretty ugly.</h3>
<p>Yeah, well, I didn't really want to make it, since the site is currently pretty much just a glorified tech demo. But if other people are doing to be using it, I didn't want this page to not exist. So here we are.</p>
</body>
</html>
